{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <header class="home_header">
        <div class="slanted_header"></div>
        <div class="flex flex_align-items wrapper">
            <img src="{% static "images/hash-rate.png" %}"></img>
            <div>
                <h1>Your cryptocurrency hub</h1>
                <p>All news, announcements, ICOs, guides & more in a beautiful,<br> convenient place. Un-biased, reliable, and regular.</p>
                <nav>
                    <a href="/news">Latest News</a>
                    <a href="/icos">Active ICOs</a>
                    <a href="/guides">Learn More</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="news_articles">
        <div class="wrapper">
            <div class="flex flex_align-items flex_justify-content">
                <h2>Recent news</h2>
                <a class="all_news_button" href="/news/">See all news</a>
            </div>
            <div class="recent_news flex flex_align-content flex_wrap">
                {% for post in newspages|slice:"4" %}
                    {% with post=post.specific %}
                        <article>
                            <a href="{% pageurl post %}">
                                 {% if post.pill_text %}
                                    {% if post.green_pill %}
                                        <p class="news_overlay overlay_green">
                                    {% elif post.red_pill %}
                                        <p class="news_overlay overlay_red">
                                    {% elif post.blue_pill %}
                                        <p class="news_overlay overlay_blue">
                                    {% elif post.yellow_pill %}
                                        <p class="news_overlay overlay_yellow">
                                    {% endif %}
                                        {{ post.pill_text }}</p>
                                {% endif %}
                                {% image post.image fill-270x152-c50 as image %}
                                <img src="{{ image.url }}"/>
                                <h3>{{ post.title|truncatechars:75 }}</h3>
                                <div class="flex flex_align-text">
                                    <p>{{ post.first_published_at|naturaltime }}</p>
                                    <p>{{ post.author|richtext }}</p>
                                </div>
                            </a>
                        </article>
                    {% endwith %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

