{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
    <main class="wrapper flex flex_align-content">
        <article class="content">
            <div class="article_header_info flex flex_align-items flex_justify-content">
                <a class="flex flex_align-items" href="{{ page.get_parent.url }}"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 459 459"><path d="M178.5 140.25v-102L0 216.75l178.5 178.5V290.7c127.5 0 216.75 40.8 280.5 130.05-25.5-127.5-102-255-280.5-280.5z" fill="#21900c"/></svg>Back to news</a>
                {{ page.author|richtext }}
            </div>
            {% image page.image width-630 height-330 %}
            <h1>{{ page.title }}</h1>
            
            {{ page.body }}
            
            <p class="article_date">Published: {{ page.first_published_at }}</p>
            {% if page.last_published_at != page.first_published_at %}
                <p class="article_date">Last edited: {{ page.last_published_at|naturaltime }}</p>
            {% endif %}
            {% if page.sponsored %}
                <p><b>Disclaimer:</b> <i>CryptoSZN does not endorse any content or product on this page. While we aim at providing you all important information that we could obtain, readers should do their own research before taking any actions related to the company and carry full responsibility for their decisions, nor this article can be considered as an investment advice.</i></p>
            {% endif %}
            {% if page.press_release %}
                <p><b>Disclaimer:</b> <i>This is a paid press release. CryptoSZN does not endorse and is not responsible for or liable for any content, accuracy, quality, advertising, products or other materials on this page. Readers should do their own research before taking any actions related to the company. CryptoSZN is not responsible, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any content, goods or services mentioned in the press release.</i></p>
            {% endif %}
        </article>
        {% if not page.press_release %}
            <aside class="coins_mentioned">
                <p class="coins_mentioned_header">Coin(s) mentioned</p>
                <div class="coin_card">
                    {% if page.coin_one %}
                        <div class="coin_card_inner">
                            <div class="flex flex_align-items flex_justify-content">
                                <h2 id="coinName1">{{ page.coin_one }}</h2>
                                <p class="coin_time_change">Last 24h</p>
                            </div>
                            <div class="coin_price_container flex flex_align-items">
                                <p class="coin_stats_label">Price:</p>
                            </div>
                            <div class="coin_mktcap_container flex flex_align-items">
                                <p class="coin_stats_label">Mkt Cap:</p>
                            </div>
                            <div class="coin_volume_container flex flex_align-items">
                                <p class="coin_stats_label">Volume:</p>
                            </div>                
                        </div>
                        <a class="flex flex_align-items" href="{{ page.coin_one_link }}"><p>Buy {{page.coin_one}} Instantly</p></a>
                    {% endif %}
                    {% if page.coin_two %}
                        <div class="coin_card_inner">
                            <div class="flex flex_align-items flex_justify-content">
                                <h2 id="coinName2">{{ page.coin_two }}</h2>
                                <p class="coin_time_change">Last 24h</p>
                            </div>
                            <div class="coin_price_container2 flex flex_align-items">
                                <p class="coin_stats_label">Price:</p>
                            </div>
                            <div class="coin_mktcap_container2 flex flex_align-items">
                                <p class="coin_stats_label">Mkt Cap:</p>
                            </div>
                            <div class="coin_volume_container2 flex flex_align-items">
                                <p class="coin_stats_label">Volume:</p>
                            </div>                
                        </div>
                        <a class="flex flex_align-items" href="{{ page.coin_two_link }}"><p>Buy {{page.coin_two}} Instantly</p></a>
                    {% endif %}
                </div>
            </aside>
        {% else %}
            <aside class="coins_mentioned">
                
            </aside>
        {% endif %}
        <nav class="related_news">
            {% if relatedarticles|length != 1 and page.press_release == False %}
                <p class="recent_news_header">Related articles</p>
                <div class="recent_news flex flex_align-content flex_direction flex_wrap">
                    {% for post in relatedarticles|slice:":3" %}
                        {% with post=post.specific %}
                            {% if post != page %}
                                <article>
                                    <a href="{% pageurl post %}">
                                        {% image post.image fill-270x152-c50 as image %}
                                        <img src="{{ image.url }}"/>
                                        <h3>{{ post.title|truncatechars:75 }}</h3>
                                        <div class="flex flex_align-text">
                                            <p>{{ post.first_published_at|naturaltime }}</p>
                                            <p>{{ post.author|richtext }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if relatedarticles|length == 1 %}
                <p class="recent_news_header">Recent articles</p>
                <div class="sticky recent_news flex flex_align-content flex_direction flex_wrap">
                    {% for post in newspages|slice:":5" %}
                        {% with post=post.specific %}
                            {% if post != page and post not in relatedarticles %}
                                <article>
                                    <a href="{% pageurl post %}">
                                        {% image post.image fill-270x152-c50 as image %}
                                        <img src="{{ image.url }}"/>
                                        <h3>{{ post.title|truncatechars:75 }}</h3>
                                        <div class="flex flex_align-text">
                                            <p>{{ post.first_published_at|naturaltime }}</p>
                                            <p>{{ post.author|richtext }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% else %}
                <p class="recent_news_header">Recent articles</p>
                <div class="sticky recent_news flex flex_align-content flex_direction flex_wrap">
                    {% for post in newspages|slice:":3" %}
                        {% with post=post.specific %}
                            {% if post != page and post not in relatedarticles %}
                                <article>
                                    <a href="{% pageurl post %}">
                                        {% image post.image fill-270x152-c50 as image %}
                                        <img src="{{ image.url }}"/>
                                        <h3>{{ post.title|truncatechars:75 }}</h3>
                                        <div class="flex flex_align-text">
                                            <p>{{ post.first_published_at|naturaltime }}</p>
                                            <p>{{ post.author|richtext }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
        </nav>
    </main>
 
{% endblock %}