{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %}template-newsindexpage{% endblock %}

{% block content %}
    <nav class="news_sort">
        <div class="wrapper">
            <ul class="flex flex_align-items">
                {% if request.get_full_path == "/news/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                        <a href="/news"><img src="{% static "images/coins_32x32/all.png" %}"></img></a>
                    </li>
                {% if request.get_full_path == "/news/coins/btc/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                        <a href="/news/coins/btc/"><img src="{% static "images/coins_32x32/btc.png" %}"></img></a>
                    </li>
                {% if request.get_full_path == "/news/coins/eth/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/eth/"><img src="{% static "images/coins_32x32/eth.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/xrp/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/xrp/"><img src="{% static "images/coins_32x32/xrp.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/bch/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/bch/"><img src="{% static "images/coins_32x32/bch.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/ada/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/ada/"><img src="{% static "images/coins_32x32/ada.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/xlm/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/xlm/"><img src="{% static "images/coins_32x32/xlm.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/ltc/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/ltc/"><img src="{% static "images/coins_32x32/ltc.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/neo/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/neo/"><img src="{% static "images/coins_32x32/neo.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/eos/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/eos/"><img src="{% static "images/coins_32x32/eos.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/xem/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/xem/"><img src="{% static "images/coins_32x32/nem.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/iota/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/iota/"><img src="{% static "images/coins_32x32/iota.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/dash/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/dash/"><img src="{% static "images/coins_32x32/dash.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/xmr/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/xmr/"><img src="{% static "images/coins_32x32/xmr.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/trx/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/trx/"><img src="{% static "images/coins_32x32/trx.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/icx/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/icx/"><img src="{% static "images/coins_32x32/icx.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/etc/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/etc/"><img src="{% static "images/coins_32x32/etc.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/qtum/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/qtum/"><img src="{% static "images/coins_32x32/qtum.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/btg/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/btg/"><img src="{% static "images/coins_32x32/btg.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/ven/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/ven/"><img src="{% static "images/coins_32x32/ven.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/lsk/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/lsk/"><img src="{% static "images/coins_32x32/lsk.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/ppt/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/ppt/"><img src="{% static "images/coins_32x32/ppt.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/xrb/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/xrb/"><img src="{% static "images/coins_32x32/xrb.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/usdt/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/usdt/"><img src="{% static "images/coins_32x32/usdt.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/omg/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/omg/"><img src="{% static "images/coins_32x32/omg.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/steem/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/steem/"><img src="{% static "images/coins_32x32/steem.png" %}"></img></a>
                </li>
                {% if request.get_full_path == "/news/coins/zec/" %}
                    <li id="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="/news/coins/zec/"><img src="{% static "images/coins_32x32/zec.png" %}"></img></a>
                </li>
                <li class="flex flex_align-items">
                    <p>OTHER</p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10" viewBox="0 0 292.362 292.362"><path d="M286.935 69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952 0-9.233 1.807-12.85 5.424C1.807 72.998 0 77.279 0 82.228c0 4.948 1.807 9.229 5.424 12.847l127.907 127.907c3.621 3.617 7.902 5.428 12.85 5.428s9.233-1.811 12.847-5.428L286.935 95.074c3.613-3.617 5.427-7.898 5.427-12.847 0-4.948-1.814-9.229-5.427-12.85z" fill="#d5d5d5"/></svg>
                    <div class="dropdown_content">
                        {% if posts %}
                            <ul class="flex flex_align-center flex_direction flex_wrap">
                                {% for tag in tags %}
                                    <li><a href="/news/coins/{{ tag|lower }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if page.get_child_tags %}
                            <ul class="flex flex_align-center flex_direction flex_wrap">
                                {% for tag in page.get_child_tags %}
                                    <li><a href="/news/coins/{{ tag|lower }}">{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    
    <!--FEATURED CARD-->
    {% if not tag and not releases %}
        <main class="news_articles">
            <div class="wrapper">
                <div class="news_featured">
                    {% if not tag %}
                        {% for post in newspages %}
                            {% with post=post.specific %}
                                {% if post.featured %}
                                    <article class="flex flex_align-items">
                                        <a href="{% pageurl post %}">
                                            {{ coindata }}
                                            {% image post.image fill-630x360-c50 as image %}
                                            <img src="{{ image.url }}"/>
                                        </a>
                                        <div class="featured_info">
                                            <h1>{{ page.header_text }}</h1>
                                            <h3>{{ post.title }}</h3>
                                            {{ post.preview_text|truncatechars:240|richtext }}
                                            <a class="button" href="{% pageurl post %}">Read More</a>
                                        </div>
                                    </article>
                                {% endif %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% if pressreleases %}
                    <div class="flex flex_align-items flex_justify-content">
                        <h2>Press releases</h2>
                        <a class="all_news_button" href="/news/press">See all press releases</a>
                    </div>
                    <div class="recent_news flex flex_align-content flex_wrap">
                        {% for post in pressreleases|slice:":4" %}
                            {% with post=post.specific %}
                                <article>
                                    <a href="{% pageurl post %}">
                                        {% image post.image fill-270x152-c50 as image %}
                                        <img src="{{ image.url }}"/>
                                        <h3>{{ post.title|truncatechars:75 }}</h3>
                                        <div class="flex flex_align-text">
                                            <p>{{ post.first_published_at|naturaltime }}</p>
                                            <p>{{ post.author|richtext }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if not allnews %}
                    <div class="flex flex_align-items flex_justify-content">
                        <h2>Recent news</h2>
                        <a class="all_news_button" href="/news/all">See all news</a>
                    </div>
                    <div class="recent_news flex flex_align-content flex_wrap">
                        {% for post in newspages %}
                            {% with post=post.specific %}
                                <article>
                                    <a href="{% pageurl post %}">
                                        {% if post.pill_text %}
                                            {% if post.green_pill %}
                                                <p class="news_overlay overlay_green">
                                            {% elif post.red_pill %}
                                                <p class="news_overlay overlay_red">
                                            {% elif post.blue_pill %}
                                                <p class="news_overlay overlay_blue">
                                            {% elif post.yellow_pill %}
                                                <p class="news_overlay overlay_yellow">
                                            {% endif %}
                                                {{ post.pill_text }}</p>
                                        {% endif %}
                                        {% image post.image fill-270x152-c50 as image %}
                                        <img src="{{ image.url }}"/>
                                        <h3>{{ post.title|truncatechars:75 }}</h3>
                                        <div class="flex flex_align-text">
                                            <p>{{ post.first_published_at|naturaltime }}</p>
                                            <p>{{ post.author|richtext }}</p>
                                        </div>
                                    </a>
                                </article>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>
    {% endif %}

    {% if posts %}
        <main class="news_articles">
            <div class="wrapper">
                <h2 class="filter">Viewing all articles mentioning <span class="coin_highlight">{{ tag }}</span></h2>
                <div class="recent_news flex flex_align-content flex_wrap">
                    {% for page in posts %}
                        <article>
                            <a href="{% pageurl page %}">
                                {% if page.pill_text %}
                                    {% if page.green_pill %}
                                        <p class="news_overlay overlay_green">
                                    {% elif page.red_pill %}
                                        <p class="news_overlay overlay_red">
                                    {% elif page.blue_pill %}
                                        <p class="news_overlay overlay_blue">
                                    {% elif page.yellow_pill %}
                                        <p class="news_overlay overlay_yellow">
                                    {% endif %}
                                        {{ page.pill_text }}</p>
                                {% endif %}
                                {% image page.image fill-270x152-c50 as image %}
                                <img src="{{ image.url }}"/>
                                <h3>{{ page.title|truncatechars:75 }}</h3>
                                <div class="flex flex_align-text">
                                    <p>{{ page.first_published_at|naturaltime }}</p>
                                    <p>{{ page.author|richtext }}</p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>
    {% endif %}
    
    {% if releases %}
        <main class="news_articles">
            <div class="wrapper">
                <h2>Viewing all press releases</h2>
                <div class="recent_news flex flex_align-content flex_wrap">
                    {% for page in releases %}
                        <article>
                            <a href="{% pageurl page %}">
                                {% image page.image fill-270x152-c50 as image %}
                                <img src="{{ image.url }}"/>
                                <h3>{{ page.title|truncatechars:75 }}</h3>
                                <div class="flex flex_align-text">
                                    <p>{{ page.first_published_at|naturaltime }}</p>
                                    <p>{{ page.author|richtext }}</p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </main>
    {% endif %}
    
    {% if allnews %}
        <main class="news_articles">
            <div class="wrapper">
                <h2>All news</h2>
                <div class="recent_news flex flex_align-content flex_wrap">
                    {% for page in allnews %}
                        <article>
                            <a href="{% pageurl page %}">
                                {% if page.pill_text %}
                                    {% if page.green_pill %}
                                        <p class="news_overlay overlay_green">
                                    {% elif page.red_pill %}
                                        <p class="news_overlay overlay_red">
                                    {% elif page.blue_pill %}
                                        <p class="news_overlay overlay_blue">
                                    {% elif page.yellow_pill %}
                                        <p class="news_overlay overlay_yellow">
                                    {% endif %}
                                        {{ page.pill_text }}</p>
                                {% endif %}
                                {% image page.image fill-270x152-c50 as image %}
                                <img src="{{ image.url }}"/>
                                <h3>{{ page.title|truncatechars:75 }}</h3>
                                <div class="flex flex_align-text">
                                    <p>{{ page.first_published_at|naturaltime }}</p>
                                    <p>{{ page.author|richtext }}</p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}
                </div>
                {% if allnews.paginator.num_pages > 1 %}
                    <ul class="pager">
                        <div class="page_button_container flex flex_align-items">
                            <li class="previous">
                                {% if allnews.has_previous %}
                                    <a href="?page={{ allnews.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}"><< Previous</a>
                                {% endif %}
                            </li>
                            <li class="pages">
                                Page {{ allnews.number }} of {{ allnews.paginator.num_pages }}
                            </li>
                            <li class="next">
                                {% if allnews.has_next %}
                                    <a href="?page={{ allnews.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">Next >></a>
                                {% endif %}
                            </li>
                        </div>
                    </ul>
                {% endif %}
            </div>
        </main>
    {% endif %}

{% endblock %}


